[alias]
	st = status
	ci = commit
[user]
	name = Pete Schmitt
	email = pschmitt@gmail.com
[color]
	ui = auto
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesfile = ~/.gitignore
